compile_commands.json
.ninja_deps
build.ninja
.ninja.log
*include.cmake
*tests.cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
doc/html
deal.tag*
.DS_Store
lab
*.vtu
*.pvd
*.pvtu
target*json
cache*json
index*json
query*json
codemodel*json
toolchain*json
directory*json
*.g
*.so
used_*prm
*DS_Store
